<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fault.mapper.User_faultMapper">

    <select id="queryData" parameterType="map" resultType="User_fault">
        SELECT * FROM db1.fault
        <where>
            <if test="id != null">
                id like #{id}
            </if>
            <if test="name != null">
                AND name like "%"#{name}"%"
            </if>
        </where>
    </select>

    <insert id="addData" parameterType="User_fault">
        insert into db1.fault(Id, FileName, Name, Type, Member, Device,
        Degree, Temperature, Pressure, Traffic, Path, Time) values
        (#{Id},#{FileName},#{Name},#{Type},#{Member},#{Device},#{Degree},#{Temperature},#{Pressure},#{Traffic},#{Path},#{Time})
    </insert>


</mapper>
